body {
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-family: "ff-basic-gothic-web-pro", Verdana,Arial,Sans-serif;
}

a {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC") no-repeat scroll right center transparent;
    padding-right: 13px;
}

a.actorLink, #deadwoodjohn, #forkme {
    background: none;
    padding-right: 0px;
}

#mainText {
    -moz-column-gap: 40px;
    -moz-column-width: 800px;
    -webkit-column-gap: 40px; 
    -webkit-column-width: 800px;
    column-gap: 40px; 
    column-width: 800px;    
}

h1 {
    font-family: "ff-basic-gothic-web-pro", Verdana,Arial,Sans-serif;
    margin-left: 275px;
    font-weight: bold;
}

p {
    margin-left: 125px;
    width: 750px;
}

#canvas {
    background-color: #f0f0ee;
    border: thin solid #E9E9E9;
    border-radius: 12px;
}

#nocanvas {
    background: none repeat scroll 0 0 #FFFFE0;
    border-color: #E6DB55;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    line-height: 28px;
    margin: 25px auto;
    padding: 1em;
    width: 450px;
    text-align: center;
}
